.big-pill {
    text-align: center;
    width: 200px;
    color: #e47297 !important;
    border: 1px solid #e47297 !important;

    &.active {
        background: #e47297 !important;
        color: white !important;
    }
}
.md-pill {
    text-align: center;
    color: #e47297 !important;
    border: 1px solid #e47297 !important;

    &.active {
        background: #e47297 !important;
        color: white !important;
    }
}

.toast-error {
    background-color: red;
}

