<template>
    <div>
        <div class="bg-gray-300" id="googleMap" :style="{height: map_height+'px'}"></div>
    </div>
</template>

<script>
export default {
    name: "MapView",
    props: {
        mapHeight: {

        }
    },
    data() {
        return {
            map_height: 600,
            cordinates: [
                {
                    "lat": 0.3244032,
                    "lng": 32.5844992
                },
                {
                    "lat": 0.884673,
                    "lng": 34.0215193
                },{
                    "lat": 1.9774546165873055,
                    "lng": 34.68288781006576
                },
                {
                    "lat": 2.806192488538641,
                    "lng": 31.639675015627038
                },
                {
                    "lat": 1.851182383233078,
                    "lng": 31.513332246182827
                },
                {
                    "lat": -0.4894311803351065,
                    "lng": 30.009094302836452
                }
            ]
        }
    },
    mounted() {
        let app = this
        if(app.$props.mapHeight != null) {
            app.map_height = app.$props.mapHeight
        }
        app.initMap()
    },
    methods: {
        initMap() {
            let app = this
            let mapProp= {
                center: {
                    lat: 0.8404,
                    lng: 32.4977
                },
                zoom: 7,
                mapTypeId: google.maps.MapTypeId.HYBRID
            };
            let map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
            const svgMarker = {
                path: "M 13 8 z M 12 2.016 q 2.906 0 4.945 2.039 t 2.039 4.945 q 0 1.453 -0.727 3.328 t -1.758 3.516 t -2.039 3.07 t -1.711 2.273 l -0.75 0.797 q -0.281 -0.328 -0.75 -0.867 t -1.688 -2.156 t -2.133 -3.141 t -1.664 -3.445 t -0.75 -3.375 q 0 -2.906 2.039 -4.945 t 4.945 -2.039 z",
                fillColor: "#ff0000",
                fillOpacity: 0.6,
                strokeWeight: 0,
                rotation: 0,
                scale: 2,
                width:2,
                anchor: new google.maps.Point(15, 30),
            };
            for(let i =0; i < app.cordinates.length; i++) {
                let point = app.cordinates[i];
                let myLatlng = new google.maps.LatLng(point.lat,point.lng);
                let marker = new google.maps.Marker({
                    position: myLatlng,
                    icon: svgMarker,
                    title: "Region"
                });
                marker.setMap(map);
            }
        }
    }
}
</script>

<style scoped>

</style>
