<template>
    <div>
        <div class="body_scroll">

            <div class="block-header">
                <div class="row">
                    <div class="col-md-12 col-sm-12">

                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="zmdi zmdi-home"></i> Home</a></li>
                            <li class="breadcrumb-item">Regions</li>
                            <li class="breadcrumb-item active">{{ region }}</li>
                        </ul>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center">
                                <!-- Centered Tabs -->
                                <ul class="nav nav-tabs pl-0 pr-0">
                                    <li v-for="item in regions" class="nav-item" style="margin-top: 10px;">
                                        <a @click.prevent="gotoValueChain(item)" class="nav-link md-pill" :class="{'active': region
                                       === item}" data-toggle="tab" href="#aC">{{ ucFirst(item) }}</a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <hr/>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="m-0">
                                    {{regionName}}
                                </h4>
                            </div>
                            <div class="col-md-4">
                                <select v-if="isRegionLoaded"  @change="onCropChange" class="form-control show-tick ms select2" data-placeholder="Select">
                                    <option value="all">All Crops</option>
                                    <option v-for="(item) in regionCrops">{{item}}</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary waves-effect m-r-20" data-toggle="modal" data-target="#defaultModal">MAP</button>
                                <button type="button" @click.prevent="showComparisonModal" class="btn btn-primary waves-effect m-r-20" data-toggle="modal" data-target="#compareModal">Compare</button>
                            </div>
                        </div>
                        <hr/>
                        <div class="card">

                            <div class="row">
                                <div class="col-md-9">
                                    <ul class="nav nav-tabs pl-0 pr-0">
                                        <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                                                href="#general-tab">General</a></li>
                                        <li class="nav-item"><a class="nav-link " data-toggle="tab"
                                                                href="#production-tab">Production</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                                href="#processing-tab">Processing</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                                href="#marketing-tab">Marketing</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                                href="#service_provider-tab">Service
                                            Provider</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div ref="params" class="body">
                                <div class="tab-content">

                                    <div class="tab-pane active" id="general-tab">
                                        <div class="row clearfix">
                                            <div v-if="isLoaded && cropContent['general'] != null" class="w-100">
                                                <table class="table table-bordered table-striped table-sm w-100">
                                                    <thead>
                                                    <tr>
                                                        <th>Parameter</th>
                                                        <th>Answer</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="(question, index) in cropContent['general']['qnz']">
                                                        <td>{{ question['description'] }}</td>
                                                        <td>
                                                            <span v-if="typeof question['answer'] === 'object'">{{
                                                                    question['answer'][region]
                                                                }}</span>
                                                            <span v-else>{{Math.floor((Math.random() * 600) + 1)}}</span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="production-tab">
                                        <div class="row clearfix">
                                            <div v-if="isLoaded && cropContent['production'] != null" class="w-100">
                                                <table class="table table-bordered table-striped table-sm w-100">
                                                    <thead>
                                                    <tr>
                                                        <th>Parameter</th>
                                                        <th>Answer</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="(question, index) in cropContent['production']['qnz']">
                                                        <td>{{ question['description'] }}</td>
                                                        <td>
                                                            <span v-if="typeof question['answer'] === 'object'">{{
                                                                    question['answer'][region]
                                                                }}</span>
                                                            <span v-else>{{Math.floor((Math.random() * 600) + 1)}}</span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="processing-tab">
                                        <div class="row clearfix">
                                            <div v-if="isLoaded && cropContent['processing'] != null" class="w-100">
                                                <table class="table table-bordered table-striped table-sm w-100">
                                                    <thead>
                                                    <tr>
                                                        <th>Parameter</th>
                                                        <th>Answer</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="(question, index) in cropContent['processing']['qnz']">
                                                        <td>{{ question['description'] }}</td>
                                                        <td>
                                                            <span v-if="typeof question['answer'] === 'object'">{{
                                                                    question['answer'][region]
                                                                }}</span>
                                                            <span v-else>{{Math.floor((Math.random() * 600) + 1)}}</span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="marketing-tab">
                                        <div class="row clearfix">
                                            <div v-if="isLoaded && cropContent['marketing'] != null" class="w-100">
                                                <table class="table table-bordered table-striped table-sm w-100">
                                                    <thead>
                                                    <tr>
                                                        <th>Parameter</th>
                                                        <th>Answer</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="(question, index) in cropContent['marketing']['qnz']">
                                                        <td>{{ question['description'] }}</td>
                                                        <td>
                                                            <span v-if="typeof question['answer'] === 'object'">{{
                                                                    question['answer'][region]
                                                                }}</span>
                                                            <span v-else>{{Math.floor((Math.random() * 600) + 1)}}</span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="service_provider-tab">
                                        <div class="row clearfix">
                                            <div v-if="isLoaded && cropContent['service_provider'] != null"
                                                 class="w-100">
                                                <table class="table table-bordered table-striped table-sm w-100">
                                                    <thead>
                                                    <tr>
                                                        <th>Parameter</th>
                                                        <th>Answer</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="(question, index) in cropContent['service_provider']['qnz']">
                                                        <td>{{ question['description'] }}</td>
                                                        <td>
                                                            <span v-if="typeof question['answer'] === 'object'">{{
                                                                    question['answer'][region]
                                                                }}</span>
                                                            <span v-else>{{Math.floor((Math.random() * 600) + 1)}}</span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card">

                            <div class="body">
                                <div class="table-responsive">


                                    <table
                                        class="table table-bordered table-striped table-hover dataTable js-exportable">
                                        <thead>
                                        <tr>
                                            <th>Month/Date</th>
                                            <th>Region</th>
                                            <th>Prodn (Tns)</th>
                                            <th>PH Losses (Tns)</th>
                                            <th>Land (Acres)</th>
                                            <th>Seeds(Tns)</th>
                                            <th>Subsidized Inputs (Tns)</th>
                                            <th>Mechanization</th>
                                            <th>Farmers</th>
                                            <th>Processors</th>
                                            <th>Licences Issued</th>
                                            <th>Certifiates</th>
                                            <th>Quality</th>
                                            <th>Pests & Diseases</th>
                                            <th>Weather Conditions</th>
                                            <th>Revenue</th>
                                            <th>Power</th>
                                            <th>Irrigation Schemes</th>
                                            <th>Capacity Programs</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>January</td>
                                            <td>Tooro</td>
                                            <td>20000</td>
                                            <td>2000</td>
                                            <td>800</td>
                                            <td>30000000</td>
                                            <td>20000</td>
                                            <td>2000 Trucks, 300 Tillers</td>
                                            <td>40000</td>
                                            <td>3000</td>
                                            <td>100</td>
                                            <td>50</td>
                                            <td>Grade A, Grade B</td>
                                            <td>Rhizom Anthropodis</td>
                                            <td>Rainy Below 10 Degress</td>
                                            <td>3Bn</td>
                                            <td>20 Mega Watts</td>
                                            <td>3 - Kibimba, Kisiro, Meta</td>
                                            <td>50 - OWC, SIDA</td>

                                        </tr>


                                        <tr>
                                            <td>Febraury</td>
                                            <td>Ankole<br></td>
                                            <td>20000</td>
                                            <td>2000</td>
                                            <td>800</td>
                                            <td>30000000</td>
                                            <td>20000</td>
                                            <td>2000 Trucks, 300 Tillers</td>
                                            <td>40000</td>
                                            <td>3000</td>
                                            <td>100</td>
                                            <td>50</td>
                                            <td>Grade A, Grade B</td>
                                            <td>Rhizom Anthropodis</td>
                                            <td>Rainy Below 10 Degress</td>
                                            <td>3Bn</td>
                                            <td>20 Mega Watts</td>
                                            <td>3 - Kibimba, Kisiro, Meta</td>
                                            <td>50 - OWC, SIDA</td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>


                                <div class="col-lg-12 col-md-12">
                                    <div class="card">
                                        <div class="header">
                                            <h2><strong>Monthly Production (Tonnes)</strong>
                                                Statistics</h2>
                                        </div>
                                        <div class="body">
                                            <div id="chart-employment" class="c3_chart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="body">
                                <div class="header"><h2><strong>Annual (Monthly) Coffee Market
                                    Data</strong></h2></div>
                                <hr>
                                <div class="table-responsive">
                                    <table
                                        class="table table-bordered table-striped table-hover dataTable js-exportable">
                                        <thead>
                                        <tr>
                                            <th>Month/Date</th>
                                            <th>Region</th>
                                            <th>Domestic (Tns)</th>
                                            <th>Export Units (Tns)</th>
                                            <th>Market Price (UGX)</th>
                                            <th>Exporters</th>
                                            <th>Value Addition Companies</th>
                                            <th>Value Addition (Tns)</th>
                                            <th>Export Licences Issued</th>
                                            <th>Quality</th>
                                            <th>Revenue (UGX)</th>
                                            <th>Capacity Programs</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>January</td>
                                            <td>Busoga</td>
                                            <td>20000</td>
                                            <td>30000</td>
                                            <td>800</td>
                                            <td>3000</td>
                                            <td>500</td>
                                            <td>1000</td>
                                            <td>100</td>
                                            <td>Grade A, Grade B</td>
                                            <td>50B</td>
                                            <td>50 - OWC, SIDA</td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="card">
                                        <div class="header">
                                            <h2><strong>Monthly Market (Tonnes)</strong> Statistics
                                            </h2>
                                        </div>
                                        <div class="body">
                                            <div id="chart-bar" class="c3_chart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="defaultModalLabel">MAP</h4>
                    </div>
                    <div class="modal-body">
<!--                        <simple-map
                            ref="mapComponent"
                            :default-codes="colors"
                            inline-template v-cloak>
                            <div class="bg-gray-300" id="googleMap" style="height:600px;"></div>
                        </simple-map>-->

                        <img src="/assets/images/map.png">
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="compareModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="compareModalLabel">{{regionName}} Comparison (Value Chains)</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <select v-model="selectedCropOne" @change="onComparisonChangeOne($event)" class="form-control show-tick ms select2" data-placeholder="Select">
                                    <option v-for="(item) in compareCrops">{{item}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select v-model="selectedCropTwo" @change="onComparisonChangeOne($event)"  class="form-control show-tick ms select2" data-placeholder="Select">
                                    <option v-for="(item) in compareCrops">{{item}}</option>
                                </select>
                            </div>

                            <div class="col-md-12 mt-3">
                                <div id="comparison-chart"></div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import SimpleMap from "./SimpleMap";
import c3 from "c3"
import Toastify from 'toastify-js'

export default {
    name: "RegionComponent",
    components: {SimpleMap},
    props: [
        'regionvalue',
        'regionname'
    ],
    data() {
        return {
            isLoaded: false,
            isColorLoaded: false,
            isRegionLoaded: false,
            regions:[
                "west_nile",
                "karamoja",
                "acholi",
                "lango",
                "elgon",
                "teso",
                "bukedi",
                "busoga",
                "bunyoro",
                "toro",
                "north_buganda",
                "central_1",
                "central_2",
                "kigezi",
                "ankole"
            ],
            compareCrops: [
                "coffee", "tea", "maize"
            ],
            regionName: "",
            region: "",
            selectedCrop: "all",
            regionsData: {},
            cropData: {},
            colors: [{
                "name": "Acid Green",
                "hex": "#B0BF1A"
            },
                {
                    "name": "Aero",
                    "hex": "#7CB9E8"
                },
                {
                    "name": "African Violet",
                    "hex": "#B284BE"
                },
                {
                    "name": "Air Force Blue (RAF)",
                    "hex": "#5D8AA8"
                }],
            cropContent: {},
            regionCrops: [],
            chart : null,
            selectedCropOne: "coffee",
            selectedCropTwo: "maize",
        }
    },
    mounted() {
        let app = this
        app.region = app.$props.regionvalue
        app.regionName = app.$props.regionname
        app.getColors()
        app.getCropData()
        app.getRegionsData()
        app.createChart()
    },
    methods: {
        createChart() {
            let app = this
            app.chart = c3.generate({
                bindto: '#comparison-chart', // id of chart wrapper
                data: {
                    columns: [
                        // each columns data
                        ['data1', 11000, 8000, 15000, 18000, 19000, 17000],
                        ['data2', 7000, 7000, 5000, 7000, 9000, 12000]
                    ],
                    type: 'bar', // default type of chart
                    colors: {
                        'data1': Aero.colors["blue"],
                        'data2': Aero.colors["cyan"]
                    },
                    names: {
                        // name of each serie
                        'data1': app.selectedCropOne,
                        'data2': app.selectedCropTwo
                    }
                },
                axis: {
                    x: {
                        type: 'category',
                        // name of each category
                        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
                    },
                },
                bar: {
                    width: 16
                },
                legend: {
                    show: true, //hide legend
                },
                padding: {
                    bottom: 0,
                    top: 0
                },
            })
        },
        showComparisonModal() {
            let app = this;
            setTimeout(function() {
                app.chart.resize();
            }, 200)


            /*window..modal('show');
            $(window).trigger('resize')*/
        },
        onComparisonChangeOne(event) {
            let app = this

            if(app.selectedCropOne !== app.selectedCropTwo) {
                let columns  = []
                let data1 = ['data1'];
                while(data1.length < 6){
                    let r = Math.floor(Math.random() * 100) + 1;
                    if(data1.indexOf(r.toString()) === -1) data1.push(r.toString());
                }
                let data2 = ['data2'];
                while(data2.length < 6){
                    let r = Math.floor(Math.random() * 100) + 1;
                    if(data2.indexOf(r.toString()) === -1) data2.push(r.toString());
                }

                columns.push(data1)
                columns.push(data2)



                console.log("Columns", columns)
                app.chart.load({columns: columns, names: {
                        // name of each serie
                        'data1': app.selectedCropOne,
                        'data2': app.selectedCropTwo
                    }})
            }else {
                console.log("Can't compare similar crops.")
                Toastify({
                    text: "Can't compare similar value chains.",
                    className: "info",
                    style: {
                        background: "red",
                    }
                }).showToast();
            }

        },
        onCropChange(event) {
            let app = this
            app.selectedCrop = event.target.value
            app.cropContent = app.cropData[app.selectedCrop]
        },
        async getColors() {
            let app = this
            let res = await axios.get('/api/colors.json');
            app.colors = res.data
            app.isColorLoaded = true
        },
        async getCropData() {
            let app = this
            let res = await axios.get('/api/crops.json');
            app.cropData = res.data
            app.cropContent = app.cropData[app.selectedCrop]
            app.isLoaded = true
        },
        async getRegionsData() {
            let app = this
            let res = await axios.get('/api/regionsData2.json');
            app.regionsData = res.data
            app.regionCrops = app.regionsData[app.region]['crops']
            app.isRegionLoaded = true
        },
        gotoValueChain(valueChain) {
            window.location.href = `${valueChain}`
        },
        ucFirst(string) {
            string = string.split('_').join(' ')
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
    }
}
</script>

<style scoped>

</style>
