<template>
    <div>
        <div class="body_scroll">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12">

                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="zmdi zmdi-home"></i> Home</a></li>
                            <li class="breadcrumb-item">Value Chains (7)</li>
                            <li class="breadcrumb-item active">{{ cropName }}</li>
                        </ul>
                        <hr>
                    </div>

                    <div class="col-md-12 d-flex justify-content-center">
                        <!-- Centered Tabs -->
                        <ul class="nav nav-tabs pl-0 pr-0">
                            <li class="nav-item"><a @click.prevent="gotoValueChain('coffee')" class="nav-link big-pill" :class="{'active': cropName === 'coffee'}" data-toggle="tab" href="#aC">Coffee</a>
                            </li>
                            <li class="nav-item"><a @click.prevent="gotoValueChain('maize')" class="nav-link big-pill" :class="{'active': cropName === 'maize'}"  data-toggle="tab" href="#bM">Maize</a></li>
                            <li class="nav-item"><a @click.prevent="gotoValueChain('tea')" class="nav-link big-pill" :class="{'active': cropName === 'tea'}"  data-toggle="tab" href="#bT">Tea</a></li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr>
            <div class="container-fluid">
                <div class="row clearfix">


                    <div class="col-xl-3 col-lg-4 col-md-12">
                        <div class="preview preview-pic tab-content">
                            <div class="tab-pane active" id="product_1"><img :src="'/assets/images/'+cropName+'.jpg'"
                                                                             class="img-fluid" alt=""/></div>

                        </div>

                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-12">
                        <div class="product details">
                            <h3 class="product-title mb-0">Summary about the {{ cropName }} Value Chain such as seasons, types, markets, region</h3>

                            <hr>
                            <p class="product-description">

                                {{ cropName }} is the is the 2nd largest commodity.
                                Data such as Seasons, Types of {{ cropName }}, Markets, No of Regions MarketPrice are all
                                Summarized here to give a brief of the {{ cropName }} value Chain.<br>
                            </p>


                        </div>
                    </div>


                    <div class="col-lg-12">

                        <div class="card">

                            <hr>
                            See performance of the {{ cropName }} value Chain by region or year.
                            <hr>
                            <ul class="nav nav-tabs pl-0 pr-0">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#a2018">2018</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#b2019">2019</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#b2016">2020</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#a2018">2021</a></li>

                            </ul>


                            <div class="tab-content">
                                <div class="tab-pane active" id="a2018">

                                    <div class="row clearfix">
                                        <div class="col-lg-3 col-md-6 col-sm-6">
                                            <div class="card w_data_1">
                                                <div class="body">
                                                    <!-- <div class="w_icon indigo"><i class="zmdi zmdi-settings"></i></div> -->
                                                    <h4 class="mt-3">4000</h4>
                                                    <span class="text-muted">Production</span>
                                                    <div class="w_description text-success">
                                                        <i class="zmdi zmdi-trending-up"></i>
                                                        <span>60.5%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6 col-sm-6">
                                            <div class="card w_data_1">
                                                <div class="body">
                                                    <!-- <div class="w_icon indigo"><i class="zmdi zmdi-settings"></i></div> -->
                                                    <h4 class="mt-3">200</h4>
                                                    <span class="text-muted">No of Farmers</span>
                                                    <div class="w_description text-danger">
                                                        <i class="zmdi zmdi-trending-down"></i>
                                                        <span>20%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>


                                    <!-- Exportable Table -->
                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <div class="card">

                                                <div class="body mb-4">
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <ul class="nav nav-tabs pl-0 pr-0">
                                                                <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                                                                        href="#production-tab">Production</a></li>
                                                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#processing-tab">Processing</a>
                                                                </li>
                                                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#marketing-tab">Marketing</a>
                                                                </li>
                                                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#service_provider-tab">Service
                                                                    Provider</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <select @change="onRegionChange" class="form-control show-tick ms select2" data-placeholder="Select">
                                                                <option value="all">All Regions</option>
                                                                <option v-for="(region) in regions" :value="region">{{region}}</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div ref="params" class="body">
                                                                <div class="tab-content">
                                                                    <div class="tab-pane active" id="production-tab">
                                                                        <div class="row clearfix">
                                                                            <div v-if="isLoaded && cropContent['production'] != null" class="w-100">
                                                                                <table class="table table-bordered table-striped table-sm w-100">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th>Parameter</th>
                                                                                        <th>Answer</th>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    <tr v-for="(question, index) in cropContent['production']['qnz']">
                                                                                        <td>{{ question['description'] }}</td>
                                                                                        <td>
                                                                                            <span v-if="selectedRegion === 'all'">{{ question['answer'] }}</span>
                                                                                            <span v-else-if="typeof question['answer'] === 'object'">{{ formatAnswer(question['answer'][selectedRegion]) }}</span>
                                                                                            <span v-else>
                                                                <span v-if="question['answer_region'][selectedRegion] == null"> {{Math.floor((Math.random() * 600) + 1)}}</span>
                                                                <span v-else>{{formatAnswer(question['answer_region'][selectedRegion])}}</span>
                                                            </span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="tab-pane" id="processing-tab">
                                                                        <div class="row clearfix">
                                                                            <div v-if="isLoaded && cropContent['processing'] != null" class="w-100">
                                                                                <table id="myTable" class="table table-bordered table-striped table-sm w-100 dataTable js-exportable">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th>Parameter</th>
                                                                                        <th>Answer</th>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    <tr v-for="(question, index) in cropContent['processing']['qnz']">
                                                                                        <td>{{ question['description'] }}</td>
                                                                                        <td>
                                                                                            <span v-if="selectedRegion === 'all'">{{ question['answer'] }}</span>
                                                                                            <span v-else-if="typeof question['answer'] === 'object'">{{ question['answer'][selectedRegion] }}</span>
                                                                                            <span v-else>
                                                                <span v-if="question['answer_region'][selectedRegion] == null"> {{Math.floor((Math.random() * 600) + 1)}}</span>
                                                                <span v-else>{{question['answer_region'][selectedRegion]}}</span>
                                                            </span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="tab-pane" id="marketing-tab">
                                                                        <div class="row clearfix">
                                                                            <div v-if="isLoaded && cropContent['marketing'] != null" class="w-100">
                                                                                <table class="table table-bordered table-striped table-sm w-100">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th>Parameter</th>
                                                                                        <th>Answer</th>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    <tr v-for="(question, index) in cropContent['marketing']['qnz']">
                                                                                        <td>{{ question['description'] }}</td>
                                                                                        <td>
                                                                                            <span v-if="selectedRegion === 'all'">{{ question['answer'] }}</span>
                                                                                            <span v-else-if="typeof question['answer'] === 'object'">{{ question['answer'][selectedRegion] }}</span>
                                                                                            <span v-else>
                                                                <span v-if="question['answer_region'][selectedRegion] == null"> {{Math.floor((Math.random() * 600) + 1)}}</span>
                                                                <span v-else>{{question['answer_region'][selectedRegion]}}</span>
                                                            </span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="tab-pane" id="service_provider-tab">
                                                                        <div class="row clearfix">
                                                                            <div v-if="isLoaded && cropContent['service_provider'] != null"
                                                                                 class="w-100">
                                                                                <table class="table table-bordered table-striped table-sm w-100">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th>Parameter</th>
                                                                                        <th>Answer</th>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    <tr v-for="(question, index) in cropContent['service_provider']['qnz']">
                                                                                        <td>{{ question['description'] }}</td>
                                                                                        <td>
                                                                                            <span v-if="selectedRegion === 'all'">{{ question['answer'] }}</span>
                                                                                            <span v-else-if="typeof question['answer'] === 'object'">{{ question['answer'][selectedRegion] }}</span>
                                                                                            <span v-else>
                                                                <span v-if="question['answer_region'][selectedRegion] == null"> {{Math.floor((Math.random() * 600) + 1)}}</span>
                                                                <span v-else>{{question['answer_region'][selectedRegion]}}</span>
                                                            </span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="body mb-4">
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="header">
                                                            <h2><strong>Monthly Market (Tonnes)</strong> Statistics
                                                            </h2>
                                                        </div>
                                                        <div class="body">
                                                            <div id="chart-bar" class="c3_chart"></div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <!-- Market Data ============================================================================================================================================ -->


                                                <div class="body">
                                                    <div class="header"><h2><strong>Annual (Monthly) Coffee Market
                                                        Data</strong></h2></div>
                                                    <hr>
                                                    <div class="table-responsive">
                                                        <table
                                                            class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                            <thead>
                                                            <tr>
                                                                <th>Month/Date</th>
                                                                <th>Region</th>
                                                                <th>Domestic (Tns)</th>
                                                                <th>Export Units (Tns)</th>
                                                                <th>Market Price (UGX)</th>
                                                                <th>Exporters</th>
                                                                <th>Value Addition Companies</th>
                                                                <th>Value Addition (Tns)</th>
                                                                <th>Export Licences Issued</th>
                                                                <th>Quality</th>
                                                                <th>Revenue (UGX)</th>
                                                                <th>Capacity Programs</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>January</td>
                                                                <td>Busoga</td>
                                                                <td>20000</td>
                                                                <td>30000</td>
                                                                <td>800</td>
                                                                <td>3000</td>
                                                                <td>500</td>
                                                                <td>1000</td>
                                                                <td>100</td>
                                                                <td>Grade A, Grade B</td>
                                                                <td>50B</td>
                                                                <td>50 - OWC, SIDA</td>

                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="b2019">
                                    <div class="row clearfix">
                                        No Data for this year yet.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: "ValueChainComponent",
    props: [
        'cropname'
    ],
    data() {
        return {
            isLoaded: false,
            cropName: "Test",
            cropData: {},
            cropContent: {},
            regions: [],
            selectedRegion: "all"
        }
    },
    mounted() {
        let app = this;
        app.cropName = app.$props.cropname

        app.getRegions()
        app.getCropData(app.$props.cropname)
    },
    methods: {

        formatAnswer(answer) {
            if(typeof answer == 'object') {
                for (let key of Object.keys(answer)) {
                    let value = answer[key]
                    if(Array.isArray(value)) {
                        return value.length
                    }else {
                        return `${key}: ${value}`
                    }
                }
            }

            return answer
        },

        getRegionValue(data, region) {
            return data[region];
        },
        onRegionChange(event) {
            this.selectedRegion = event.target.value
            console.log("selectyed", this.selectedRegion)
        },
        async getRegions() {
            let app = this
            let res = await axios.get('/api/regions.json');
            app.regions = res.data

        },
        async getCropData(cropName) {
            let app = this
            let res = await axios.get('/api/crops.json');
            app.cropData = res.data
            if (cropName in app.cropData) {
                app.cropContent = app.cropData[cropName]
            }
            $('#myTable').DataTable({
                destroy: true,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
            app.isLoaded = true

        },
        gotoValueChain(valueChain) {
            window.location.href = `${valueChain}`
        }
    }
}
</script>

<style scoped>

</style>
